<div class="col-xs-12" style="height:500px;width:1000px;margin:-3rem -2rem">
  <div class="row" style="height:100%">
    <div class="col-xs-4" id="chatroom_channels">

      <div class="row" id="public_channel">
        <label style="margin-bottom: 15px;">ÖFFENTLICH</label>
        <div *ngFor="let channel of channels">
          <div *ngIf="channel.isPublic" [attr.id]="channel.name" (click)="loadChannel(channel)" class="chatroom_channel"><img class="pull-left chatroom_channel_image" /><label class="pull-left">&nbsp;&nbsp;{{channel.name}}</label>&nbsp;</div>
        </div>
      </div>

      <div class="row" id="private_channel">
        <label style="margin-bottom: 15px;">Privat</label>
        <div *ngFor="let channel of channels">
          <div *ngIf="!channel.isPublic" [attr.id]="channel.name" (click)="loadChannel(channel)" class="chatroom_channel"><img class="pull-left chatroom_channel_image" /><label class="pull-left">&nbsp;&nbsp;{{channel.name}}</label>&nbsp;</div>
        </div>
      </div>

    </div>

    <div class="col-xs-8" id="chatroom_chat">
      <div id="conversation" class="row" style="height:90%">
        <label style="margin-top:15px">{{activeChannel?.name}}</label>
        <div *ngFor="let message of activeChannel?.conversation" [ngClass]="{'col-xs-6': true, 'pull-left': !isOwnMessage(message), 'pull-right': isOwnMessage(message)}" id="chatroom_chat_messages">
          <span *ngIf="isOwnMessage(message) && message.status == 'read'" class="fa fa-check"></span>
          <span id="userfield" style="font-weight:bold">{{message.sender}}</span>
          <span id="messsagefield" >{{message.message}}</span>
          <span id="timeField"></span>
        </div>
      </div>

      <div class="row" style="height:10%">
        <input placeholder="Schreibe eine Nachricht..." [(ngModel)]="message" (keypress)="keypressHandler($event)" class="col-xs-10"
          id="chatroom_chat_input" />
        <button (click)="send()" type="submit" class="col-xs-2 btn waves-effect waves-light s2" style="height:100%" name="action">Senden</button>
      </div>
    </div>

  </div>
</div>