<div class="col-xs-12" style="height:500px;width:1000px;margin:-3rem -2rem">
    <div class="row" style="height:100%">
        <div class="col-xs-4" id="chatroom_channels">

            <div class="col-xs-12" id="public_channel">
                <label style="margin-bottom: 15px;">ÖFFENTLICH <create-channel-modal></create-channel-modal></label>

                <div>
                    <div class="chatroom_channel"><img class="pull-left chatroom_channel_image" /><label class="pull-left">&nbsp;&nbsp;Studenten <a><i class="fa fa-cog"></i></a></label>&nbsp;</div>
                    <div class="chatroom_channel"><img class="pull-left chatroom_channel_image" /><label class="pull-left">&nbsp;&nbsp;Professoren <a><i class="fa fa-cog"></i></a></label></div>
                </div>
            </div>

            <div class="col-xs-12" id="private_channel">
                <label style="margin-bottom: 15px;">FREUNDE <a href=""><i class="fa fa-plus"></i></a></label>

                <div>
                    <div class="chatroom_channel"><img class="pull-left chatroom_channel_image" (click)="openChannel()" /><label class="pull-left">&nbsp;&nbsp;Gina Wild <a><i class="fa fa-times"></i></a></label></div>
                    <div class="chatroom_channel"><img class="pull-left chatroom_channel_image" /><label class="pull-left">&nbsp;&nbsp;Herr Ihme <a><i class="fa fa-times"></i></a></label></div>
                </div>
            </div>

        </div>
        <div class="col-xs-8" id="chatroom_chat">
            <div class="row" style="height:100%">
                <div class="col-xs-12" id="chatroom_chat_messages"></div>
                <textarea placeholder="Schreibe eine Nachricht..." class="col-xs-12" id="chatroom_chat_input"></textarea>
            </div>
        </div>
    </div>
</div>