<div id="wrapper">
    <div id="header">
      <a href="./home" class="logo"></a>
      <div class="content">
        <div class="inner">
          <router-outlet></router-outlet>
        </div>
      </div>
      <nav>
        <ul>
          <li *ngIf="!isLoggedIn()"><a [routerLink]="['login']">Einloggen</a></li>
          <li *ngIf="!isLoggedIn()"><a [routerLink]="['register']">Registrieren</a></li>
          <li *ngIf="isLoggedIn()"><a style="cursor:pointer" [routerLink]="['home']" (click)="logout()">Ausloggen</a></li>
        </ul>
      </nav>
    </div>
  </div>